<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script>
        var app = angular.module('app', []);

        app.directive('sidebox', function() {
            return {
                restrict: 'A',
                scope: {
                    title: '@'
                },
                transclude: true,
                template: '\
                    <div>\
                        <div>\
                            <h2>{{ title }}</h2>\
                            <span ng-transclude></span>\
                        </div>\
                    </div>'
            };
        });

        app.directive('link', function() {
            return {
                restrict: 'A',
                transclude: true,
                controller: function($scope, $element, $transclude, $log) {
                    $transclude(function(clone) {
                        $log.info(clone.text());
                        var a = angular.element('<a>');
                        a.attr('href', clone.text());
                        a.text(clone.text());
                        $element.append(a);
                    });
                }
            }
        });

        app.directive('cxwName', function() {
            return {
                restrict: 'A',
                replace: false,
                compile: function(tEle, tAttrs, transcludeFn) {
                    var tplEl = angular.element('<div>' + '<input />' + '<p>{{name}}</p>' + '</div>'),
                        input = tplEl.find('input');

                    input.attr('type', tAttrs.type);
                    input.attr('ng-model', tAttrs.ngModel);
                    tEle.replaceWith(tplEl);

                    return function(scope, ele, attrs) {
                        scope.name = "chenxiaowu";
                        console.log(ele);
                    }
                }
            }
            
        });

        app.directive('ensureUnique', function($http) {
            return {
                require: '?ngModel'
            };
        });
    </script>
</head>
<body>
    <div cxw-directive></div>
    <div sidebox title="Links">
        <ul>
            <li>first</li>
            <li>second</li>
        </ul>
    </div>
    <div sidebox title="TagClound">
        <div>
            <a href="">fdsafdsa</a>
            <a href="">fdasfdsaf</a>
            <a href="">vcxzvc</a>
            <a href="">gregreg</a>
            <a href="">ofdpkpkp</a>
        </div>
    </div>

    <div link>
        <p>fdasfdsaf</p>
    </div>

    <div cxw-name type="text" ng-model="name"></div>

    <input type="text"
        placeholder="username"
        name="username"
        ng-model="user.username"
        ng-minlength="3"
        ng-maxlength="20"
        ensure-unique="username"
        required>
</body>
</html>